@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

$bg-img-color: #FF9F41;
$bg-container-border: #F1F1F1;
$font-color: #1C1C1C;
$font-color-2: #3eb8d4;
$font-color-2-hover: #3ea4d4;
$correct: #3eb8d4;
$correct-op:#3eb8d426;
$incorrect: rgb(255, 83, 65);
$incorrect-op: rgba(255, 84, 65, 0.149);


body {
  font-family: 'Roboto', sans-serif;
  max-width: 400px;
  margin: 24px;
  padding: 0;
}

